/* reset */
body  {
  margin: 0;
}
img {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

/* common */

/* header */
header{
    background-color:  #eec5c5ce ;
    padding: 10px 20px;
    margin-bottom: 20px;
   }
header h1 {
  margin: 0;
  text-align: center;
}

/* main */

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 50px;
}
main a {
  position: relative;
  flex-basis: 30%; 
  /* basis가 우선적으로 먹힘 */
  
}
img {
  height: calc(30vw * .75);
  object-fit: cover;
  object-position: top;
}

main a div {
  display: flex;
  /* display: none; */
  position: absolute;
  font-size: 1.4rem;
  text-transform: capitalize;
  background: rgba(255, 255, 255, .5);
  bottom: 0;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  margin: 0;
  justify-content: space-between;
  opacity: 0;
  transition: all .2s;

}

main a:hover>div {
  /* display: flex; */
  opacity: 1;
}





/* footer */